<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <title>One Night Stand</title>
</head>

<body>

    <head>
        <title>Admin Login</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <noscript>
            <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>

    <!-- Header -->
    <header id="header">
        <h1>Big Picture</h1>
        <nav>
            <ul>
                <li><a href="#intro">Intro</a></li>
                <li><a href="#one">What I Do</a></li>
                <li><a href="#two">Who I Am</a></li>
                <li><a href="#work">My Work</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Intro -->
    <section id="intro" class="main style1 dark fullscreen">
        <div class="content">
            <header>
                <h2>Hey.</h2>
            </header>
            <p>Welcome to <strong>Flame</strong> a place to find your next hook up
        </div>
    </section>
</body>

</html>