<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 th:text="${user}"></h1>

    <form action="#" th:action="@{/saveUser}" method="POST" th:object="${user}">

        <label for="user">User Name:</label><br>
        <input type="text" id="user" th:field="*{username}" name="user"><br><br>
        <label for="firstname">Firstname:</label><br>
        <input type="text" id="firstname" th:field="*{firstName}" name="firstname"><br><br>
        <label for="lastname">Lastname:</label><br>
        <input type="text" id="lastname" name="lastname" th:field="*{lastName}"><br><br>



        <label for="phone">Phone</label><br>
        <input type="text" id="phone" name="phone" th:field="*{telefonnr}"><br><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" th:field="*{email}"><br><br>



        <!--<label for="lname">Password:</label><br>
        <input type="text" id="lname" name="lname" th:field="${user.password}"><br><br>
        <label for="lname">Telefon nr:</label><br>
        <input type="number" id="lname" name="lname" th:field="${user.telefonnr}"><br><br>
        <label for="lname">first name:</label><br>
        <input type="text" id="lname" name="lname" th:field="${user.firstName}"><br><br>
        <label for="lname">last Name:</label><br>
        <input type="text" id="lname" name="lname" th:field="${user.lastName}"><br><br>
        -->
        <input type="submit" value="Submit" />
    </form>
</body>

</html>