<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="Style.css">
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <title>Flame Dating</title>
</head>

<body style="color: aliceblue;">

    <!-- Header -->
    <header id="header">

        <a href="/forside"><img th:src="@{images/local fashion.png}"
                src="src/main/resources/static/images/local fashion.png" style="width: 110px; margin-top: -1%;"
                alt="logo"></a>


        <nav>
            <ul>
                <li><a href="/" style="color: black;">Opret Profil</a></li>
                <li><a href="/forside" style="color: black;">Forside</a></li>
                <li><a href="/faq" style="color: black;">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <div style="margin-top: 8%;">



        <h1 style="text-align: center; font-size: 30px;">Ofte stillede spørgmål</h1>

        <div class="row" style="display: flex; padding: 30px;">
            <div class="column">
                <h3>Hvordan opretter jeg en profil på Flame.dk? </h3>
                Når du besøger Dating.dk, kan du på vores forside oprette en profil.
                Her skal du blot følge punkterne som vises midt på siden, hvor der står ''Opret din gratis profil her''.
                Vi
                anbefaler, at man oplyser sin mail adresse, når man opretter sig.
                Hvis du glemmer din adgangskode, og din e-mail adresse ikke er aktiveret på profilen, kan du desværre
                ikke
                få sendt en mail, så du kan lave en ny kode. Det vil du dog kunne ved, at kontakte kundeservice. Bemærk
                at
                mail adressen vil ikke være synlig for andre brugere på Dating.dk
                Herudover skal du angive hvilket køn du søger, din fødselsdato samt postnummer.
            </div>
            <div class="column" style="padding-left: 15px; padding-right: 15px">
                <h3>Jeg har glemt min adgangskode. Hvad gør jeg?</h3>Flame.dk er optimeret til at blive vist i de meste
                populære browsere, det vil sige: Internet Explorer, Firefox, Safari og Google Chrome. Det er vigtigt
                altid
                at have den nyeste version af den browser man bruger, både af sikkerheds- og performancemæssige årsager.

                De er alle 4 gratis både at hente og opdatere. Man kan uden problemer have alle 4 browsere installeret,
                hvis
                man har lyst til at skifte lidt mellem dem.

                Du kan hente den nyeste version af de forskellige browsere via linksene herunder:
                Internet Explorer eller via Windows Update
                Mozilla Firefox
                Apple Safari
                Google Chrome
            </div>

            <div class="column">
                <h3>Hvilken browser anbefaler Flame.dk?</h3>Hvis du har glemt din adgangskode, kan du få tilsendt
                en mail med et link til at lave en ny. Din mail adresse skal dog være bekræftet, før vi kan sende dig en
                mail.
                For at få tilsendt en mail med et link til at lave en ny kode, så skal du klikke på "Log ind". Du skal
                herefter klikke på ‘’Glemt adgangskode’’.
                Du skal nu indtaste dit brugernavn eller e-mail adresse og derefter klikke på "Send".

                Såfremt du ikke har oplyst din e-mailadresse på din profil eller bekræftet denne, er du velkommen til at
                kontakte kundeservice for hjælp.
            </div>
        </div>

    </div>

</body>

</html>