<!DOCTYPE html>
<html lang="en" xmlns:th="http://java.sun.com/jsf/composite">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="Style.css">
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <title>Flame Dating</title>
</head>

<body>

    <header id="header">

        <a href="/forside"><img th:src="@{images/local fashion.png}"
                src="src/main/resources/static/images/local fashion.png" style="width: 110px; margin-top: -1%;"
                alt="logo"></a>


        <nav>
            <ul>
                <li><a href="/" style="color: black;">Opret Profil</a></li>
                <li><a href="/forside" style="color: black;">Forside</a></li>
                <li><a href="/faq" style="color: black;">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <h1 th:text="${user}"></h1>

    <form action="#" th:action="@{/saveUser}" method="POST" th:object="${user}">

        <label for="user">Brugernavn:</label><br>
        <input type="text" id="user" th:field="*{username}" name="user"><br><br>
        <label for="firstname">Fornavn:</label><br>
        <input type="text" id="firstname" th:field="*{firstName}" name="firstname"><br><br>
        <label for="lastname">Efternavn:</label><br>
        <input type="text" id="lastname" name="lastname" th:field="*{lastName}"><br><br>
        <label for="phone">Telefon:</label><br>
        <input type="text" id="phone" name="phone" th:field="*{telefonnr}"><br><br>
        <label for="email">Email</label><br>
        <input type="text" id="email" name="email" th:field="*{email}"><br><br>

        <input type="submit" value="Submit" />
    </form>
</body>

</html>